#col1{
display: inline-block;
width: 20vw;
margin: 2vw;
height: 90vw;
}

#col2{
    width: 20vw;
    margin: 2vw;

}

#col3{
display: inline-block;
width: 20vw;
margin: 2vw;
height: 90vw;

}

#col4{
    width: 20vw;
    margin: 2vw;

}